#reports {
    margin: 0px 20px 0px 20px;
}

.chart_section {
    min-height: 500px;
    border-top: 1px solid #6c9a92;;
    /*border-left: 1px solid #6c9a92;;*/
}

.chart_header{
    height: 2em;
}

.chart_section_toggle {
    height: 2em;
}

.chart_container {
    padding: 3px;
    height: 450px;
    cursor: pointer;
}

.chart_area {
    padding: 3px;
    height: 100%;
    /*cursor: pointer;*/
}

svg{
    margin-top:2%;
    height: 90%;
    width: 100%;
    font-size: 0.8em!important;
}

.wrapper {
    width: 100%;
}


.filter_select {
    text-align: left;
    font-size: 0.9em!important;
    font-stretch: ultra-condensed;
    margin: auto 2px;
    height: 1.4em!important;
}

.filter_input {
    /*width: 100%;*/
    /*margin: 4px 0;*/

}

.quotes {
    font-weight: 400;
    font-size: 0.9em;
}

.quoteitem {
    padding-left: 10px!important;
    background-color: #6c9a92;
}

.quoteitem2 {
    background-color: #e06a5d;
}




.quoteitem3 {
    margin-top: -15px;
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
}

.big-bottom-top{
    margin-top: 20%;
}

.big-bottom-margin{
    margin-bottom: 20%;
}

.pos, .neg{
    display:none
}

/*g > text {*/
    /*-webkit-transform:translate(3px, -10px);*/
    /*-webkit-transform:rotate(45deg)*/
/*}*/