{% extends "yoccore/base.html" %}
{% block content %}
    <div class="lightUnderline">
        <div class="formerrors">
        {% if request.session.up_error %}Username or password error<br/>{% endif %}
        {% if request.session.ua_error %}Cannot log in with that username{% endif %}
        {% if sess_error %}Please login again{% endif %}
        </div>
        <form id="loginForm" action="{% url 'do_login' %}" method="post" autocomplete="off">

            {% csrf_token %}

            <input class="loginInput" name="username" type="text" placeholder="username" autofocus/><br/>
            <input class="loginInput" name="pw" type="password" placeholder="password" /><br/>
            <input type="hidden" name="next_page" value="{{ next_page|escape }}" /><br/>

            <div class="top-padding">
                <button class="mainButton alignRight">Sign in</button>
            </div>

        </form>

    </div>
{% endblock content %}