{% extends "yoccore/base.html" %}
{% load yoccore_extras %}

{% block msg %}
    Hi {{ request.user }} --
    {% if request.session.q_left == 1 %}one more to go!
    {% else %}{{request.session.q_left}} to go
    {% endif %}
{% endblock %}

{% block content %}
    <div id="errs">{{request.session.err}}</div>
    <div id="the_question">The question<br/>
        <span style="margin-left: 20px">{{ q }}</span></div>
    <div id="the_answer">"{{ a }}"</div>
    <div class="centered lightUnderline" style="width: 80%; height:30px"></div>
    {%  if q and a %}

    <div id="the_form">

    <form id="cleanup_form" action="{% url 'give_feedback' %}" method="post" autocomplete="off">

        {% csrf_token %}

        <div class="centered">How would you rate this feedback?</div>

        <div>
            <div>Is this valid feedback?</div>
            <input id="not_fb_field" type="hidden" name="not_feedback" value="false"/>
            <div id="not_fb_container">
                <button class="not_fb" data-val="false" style="background-color: #6c9a92">yes</button>
                <button id="not_fb" class="not_fb" data-val="true" style="background-color: #e1955e">no</button>
            </div>
        </div>

        <div>
            <div>It is useful, and I'd say it is</div>
            <div style="margin-left: 25%">
            {% for i in 5|radio_range%}
                <input type="radio" name="rating" value="{{forloop.counter}}" class="radio_choice answ"/>
                <label class=choice_label>{{choices|getIndex:forloop.counter}}</label><br/>
            {% endfor %}</div>
        </div>

        <div>
            <div>Is it worth sharing the quote?</div>
            <input id="quotable_field" type="hidden" name="quotable" value="false"/>
            <div id="quotable_container">
                <button class="quotable" data-val="true" style="background-color: #6c9a92">yes</button>
                <button class="quotable" data-val="false" style="background-color: #e1955e">no</button>
            </div>
        </div>

        <div>
            <div>What topic does this best fit?</div>
            <select id="topic_container" name="topic">
                <option class="choice_label" value disabled selected>select one</option>
                {% for tp in topics %}
                    <option value="{{ tp.0 }}">{{ tp.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="hidden" name="answer" value="{{a_id}}"/>

        <div class="top-padding">
            <button class="mainButton alignRight">submit</button>
        </div>

    </form>

    </div>
    {% endif %}


{% endblock %}