{% extends "yoccore/base.html" %}
{% load staticfiles %}
{% load yoccore_extras %}

{% block css %}
    {{  block.super }}
{#    <script src="{% static 'd3.js' %}"></script>#}
    <script src="{% static 'd3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'nv.d3.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reporting.css' %}" />
{% endblock css %}

{% block js %}
{#    <script src="{% static 'nv.d3.js' %}"></script>#}
    <script src="{% static 'nv.d3.min.js' %}"></script>
{#    <script src="{% static 'js/report_builders.js' %}"></script>#}
    <script src="{% static 'js/reports.js' %}"></script>
{% endblock js %}

{% block msg %}
{% endblock msg %}

{% block reports %}
    <div class="grid">
    {% for chart_conf in chart_config %}
        <div class="chart_section">
            <div class="grid">
                <div class="chart_header col-9-10">{{titles|getIndex:forloop.counter0}}</div>
{#                <div class="chart_section_toggle col-1-10">x</div>#}
            </div>
            <div class="grid chart_container">

                <div class="grid filters col-9-10">
                    {% for f in chart_conf.filters %}
                        <select class="filter_select col-1-4"
{#                                multiple="multiple"#}
                            name="{{f.0}}-{{chart_conf.report_num}}"
                                data-plc="{{ f.0 }}">
                        <option class="filter_input" value disabled selected>pick {{f.0}}</option>
                            {% for ch in f.1 %}
                                <option value="{{ ch }}"
{#                                        {% if ch.1 == question.fb.1%}#}
{#                                        selected#}
{#                                        {% endif %}#}
                                        >{{ ch }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                </div>
                <div class="refresh_chart col-1-10">
                    <button>go</button>
                </div>
                <div class="chart_area"
                     data-series="{{ chart_conf.series}}"
                     data-report_num="{{ chart_conf.report_num }}"
                        ><svg></svg><div class="chart_spinner"></div>

                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:2 %}
            </div><div class="grid">
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}